# rederive accretion
This tutorial shows you have to rederive accretion rates using standardized physical parameters and astrometry for stellar and brown dwarfs stars from evolutionary models. In particular, we will use the Alcala+2017 scaling relationships to rederive line luminosity measurements.  

You must have run `CASPAR_astrometry` and `CASPAR_rederiveparameters` before computing the accretion rates.  Additionally, an accretion diagnostic, tracer, line flux or accretion luminosity MUST be known a priori in order to proceed.  

## Initialize casparing

Import the required modules

In [14]:
import pandas as pd
import numpy as np

from casparing.derive.CASPAR_rederiveaccretion import accretion_properties
from casparing.derive.CASPAR_data import put_in_caspar_order, save_df
%load_ext autoreload
%autoreload 2

INFO: Pandarallel will run on 10 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## load data 
load the dataframe created and saved in the physical_parameters notebook, which gives the astrometry and physical parameters.  This dataframe is necessary to rederive the accretion.

In [3]:
params_df = pd.read_csv('/Users/sarah/Desktop/parameters_table.csv')
params_df

,Simbad-Resolvable Name,Reference Name,RA (J2000.0),Dec (J2000.0),RA (J2016.0),Dec (J2016.0),Association,Association Probability Banyan Sigma,Association Census Reference,Association Age,...,Mass err,Radius,Radius err,Teff,Teff err,Luminosity,Luminosity Err,log g,SpTemp Conversion Reference,Evolutionary Models Reference
0,2MASS J04335200+2250301,CI Tau,68.466727,22.841693,68.466770,22.841617,Taurus/L1546,0.471641,Gange2018,2.01,...,0.109781,1.946725,0.118960,4383.659692,92.104738,1.252205,0.226291,3.875284,Herczeg & Hillenbrand 2014,Baraffe 2015
1,2MASS J05355845+2444542,CQ Tau,83.993611,24.748359,83.993626,24.748242,FIELD,NaN,,NaN,...,0.158091,5.125380,0.380429,6599.996174,47.097399,44.886597,6.462748,3.474448,Herczeg & Hillenbrand 2014,MIST MESA

next, add in all relevant original information to the parameters dataframe. 

*NOTE:* for this example, all accretion values are made up

In [4]:
params_df['Accretion Diagnostic'] = ['Line Luminosity','Line Luminosity']
params_df['Tracer'] = ['PaB','PaB']
params_df['Distance'] = [160.204666, 148.8]
params_df['Distance err lower limit'] = [160.204666-159.7658844 , 148.8-147.41828918]
params_df['Distance err upper limit'] = [160.67489624-160.204666, 150.36560059-148.8]
params_df['Original Reference'] = ['Alcala2017','Alcala2017']
params_df['Ha EW'] = [400,400]
params_df['Ha mag'] = [-20,-20]
params_df['Scaling Relation Reference'] = ['Alcala 2017', 'Alcala 2017']
params_df['Original Log Accretion Luminosity'] = [-2.84, -2.78]
params_df['Original Log Accretion Luminosity err'] = [0.02, 0.03]
params_df['Original Accretion Rate'] = [8e-9, 5e-11]
params_df['Original Mass'] = [0.04, 0.06]
params_df['Original Teff'] = [2260, 2840]
params_df['Original Radius'] = [0.5, 0.6]
params_df['Original Distance'] = [150, 150]
params_df['PaB Line Flux'] = [5e-18, 2e-19]
params_df['PaB Line Flux err'] = [4e-20, 6e-20]

In [15]:
accretion_df = accretion_properties(params_df, unc=True)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1), Label(value='0 / 1'))), HBox(c…

In [20]:
final_df = put_in_caspar_order(accretion_df)
final_df

,Unique ID,Unique Name,Simbad-Resolvable Name,Reference Name,Duplicate #,Total Duplicates,Binary,Companion,Separation,Object,...,Log Accretion Luminosity,Log Accretion Luminosity err,Accretion Rate,Accretion Rate err,Scaling Relation Reference,SpTemp Conversion Reference,Evolutionary Models Reference,Notes,Links,Simbad
0,NaN,NaN,2MASS J04335200+2250301,CI Tau,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.782832,0.02,1.607687e-10,2.094544e-11,Alcala 2017,Herczeg & Hillenbrand 2014,Baraffe 2015,NaN,https://simbad.u-strasbg.fr/simbad/sim-id?Iden...,NaN
1,NaN,NaN,2MASS J05355845+2444542,CQ Tau,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.786977,0.03,9.329926e-11,1.077952e-11,Alcala 2017,Herczeg & Hillenbrand 2014,MIST MESA,NaN,https://simbad.u-strasbg.fr/simbad/sim-id?Iden...,NaN

In [21]:
save_df(final_df, '/Users/sarah/Desktop/final_updated_table.csv')